<%- model_class = User -%>
  <legend>Filters</legend>
  <form class="form form-inline" role="form">
    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
      <label for="InputFieldA" class="col-xs-4">Name</label>

      <div class="col-xs-2">
        <input type="text" class="form-control" id="InputFieldA" placeholder="Search by Name">
      </div>
    </div>

    <div class="form-group col-xs-12 col-sm-6 col-lg-4">
      <label for="InputFieldA" class="col-xs-4">Email</label>

      <div class="col-xs-2">
        <input type="text" class="form-control" id="InputFieldA" placeholder="Search by Email">
      </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-lg-3">
      <button type="submit" class="btn btn-primary col-xs-8 col-xs-offset-4 pull-right">Search</button>
    </div>
  </form>
  <div class="" style="clear: both; height: 30px !important;"></div>
  <legend>Total: <%= pluralize(@users.size, 'User') %></legend>
  <div class="col-xs-12 action-groups">
    <%= link_to 'New User', new_backend_user_path, class: 'btn btn-primary pull-right' %>
  </div>
  <div class="">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:email) %></th>
        <th><%= model_class.human_attribute_name(:role) %></th>
        <th><%= model_class.human_attribute_name(:subscription_id) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%= t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.id, backend_user_path(user) %></td>
            <td><%= link_to user.email, backend_user_path(user) %></td>
            <td><%= user.role_name %></td>
            <td><%= user.subscription_name %></td>
            <td><%= user.created_date %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_backend_user_path(user), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          backend_user_path(user),
                          :method => :delete,
                          :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>


