<%= form_for @play_list, url: "/backend/play_lists/#{@play_list.id}", :html => { :class => "form-horizontal play_list" } do |f| %>

    <% if @play_list.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@play_list.errors.count, "error") %> prohibited this play_list from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @play_list.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@play_list[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :cover, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :cover, :class => 'form-control' %>
      </div>
      <%= error_span(@play_list[:cover]) %>
    </div>
    <div class="control-group">
      <%= f.label :songs, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :song_ids, data: {tokeninput: { collection: '/backend/songs/song_queries.json', options: { theme: 'facebook', 'prePopulate': @play_list.songs.collect{|artist| {id: artist.id, name: artist.name}}.uniq}}} ,:class => 'form-control' %>
      </div>
      <%= error_span(@play_list[:songs]) %>
    </div>
    <div class="control-group">
      <%= f.label :system, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :system_play_list %>
      </div>
      <%= error_span(@play_list[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :add_to_left_side, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :left_side %>
      </div>
      <%= error_span(@play_list[:left_side]) %>
    </div>
    <div class="control-group">
      <%= f.label :featured, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :featured %>
      </div>
      <%= error_span(@play_list[:featured]) %>
    </div>
    <div class="control-group">
      <%= f.label :mood, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :mood %>
      </div>
      <%= error_span(@play_list[:mood]) %>
    </div>

    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backend_play_lists_path, :class => 'btn btn-default' %>

<% end %>
