<%= form_for @song, url: "/backend/songs/#{@song.id}", :html => {:class => "form-horizontal song", multipart: true} do |f| %>

    <% if @song.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@song.errors.count, "error") %> prohibited this song from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @song.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@song[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :artist_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :artist_name, :class => 'form-control' %>
      </div>
      <%= error_span(@song[:artist_name]) %>
    </div>
    <div class="control-group">
      <%= f.label :album, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :album_id, Album.all.collect { |a| [a.name, a.id] }, {include_blank: 'Default'}, :class => 'form-control' %>
      </div>
      <%= error_span(@song[:album_id]) %>
    </div>
   <div class="control-group">
      <%= f.label :filename, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :filename, :class => 'form-control' %>
      </div>
      <%= error_span(@song[:filename]) %>
    </div>
    <div class="control-group">
      <%= f.label :asset, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :asset, :class => 'form-control' %>
      </div>
      <%= error_span(@song[:asset]) %>
    </div>

    <%= f.fields_for :track do |t|  %>
        <div class="control-group">
          <%= t.label :audio, 'Track' ,:class => 'control-label' %>
          <div class="controls">
            <%= t.file_field :audio, :class => 'form-control' %>
          </div>
          <%#= error_span(@song[:attachment]) %>
        </div>
    <% end %>

    <%= f.fields_for :demo_track do |t|  %>
        <div class="control-group">
          <%= t.label :audio, 'Demo Track' ,:class => 'control-label' %>
          <div class="controls">
            <%= t.file_field :audio, :class => 'form-control' %>
          </div>
          <%#= error_span(@song[:attachment]) %>
        </div>
    <% end %>


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backend_songs_path, :class => 'btn btn-default' %>

<% end %>
