 <% if @song.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@song.errors.count, "error") %> prohibited this song from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @song.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@song[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :artists, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :artist_ids, data: {tokeninput: { collection: '/backend/artists/artist_queries.json', options: { theme: 'facebook', 'prePopulate': @song.artists.collect{|artist| {id: artist.id, name: artist.name}}.uniq}}} ,:class => 'form-control' %>
      </div>
      <%= error_span(@song[:artists]) %>
    </div>
    <div class="control-group">
      <%= f.label :languages, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :language_ids, data: {tokeninput: { collection: '/backend/languages/language_queries.json', options: { theme: 'facebook', 'prePopulate': @song.languages.collect{|artist| {id: artist.id, name: artist.name}}.uniq}}} ,:class => 'form-control' %>
      </div>
      <%= error_span(@song[:langauges]) %>
    </div>
    <div class="control-group">
      <%= f.label :genres, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :category_ids, data: {tokeninput: { collection: '/backend/categories/category_queries.json', options: {theme: 'facebook',  'prePopulate': @song.categories.collect{|artist| {id: artist.id, name: artist.name}}.uniq}}} ,:class => 'form-control' %>
      </div>
      <%= error_span(@song[:categories]) %>
    </div>

    <div class="control-group">
      <%= f.label :album, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :album_id,
                         data: {tokeninput: { collection: '/backend/albums/album_queries.json',
                                                         options:  {theme: 'facebook', tokenLimit: 1, 'prePopulate': [@song.album.presence].as_json}}}, :class => 'form-control'%>
      </div>
      <%= error_span(@song[:album_id]) %>
    </div>

   <div class="control-group">
      <%= f.label :filename, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :filename, :class => 'form-control' %>
      </div>
      <%= error_span(@song[:filename]) %>
    </div>

    <div class="control-group">
      <%= f.label :picture, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :picture, :class => 'form-control' %>
      </div>
      <%= error_span(@song[:picture]) %>
    </div>

    <%= f.label :audio_file %>
    <%= f.file_field :audio, class: 'form-control' %>

    <hr />
    <br />
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backend_songs_path, :class => 'btn btn-default' %>