<%- model_class = Song -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= form_tag backend_songs_path, method: :get do %>
      <div class="col-md-6 col-lg-6">
        <%= label_tag :name %>
        <%= text_field_tag :name, params[:name], class: 'form-control' %>
      </div>
      <div class="col-md-6 col-lg-6">
        <%= label_tag :filename %>
        <%= text_field_tag :filename, params[:filename], class: 'form-control' %>
      </div>
      <div class="col-md-6 col-lg-6">
        <%= label_tag :album %>
        <%= select_tag :album_id, options_from_collection_for_select(@albums, 'id', 'name', params[:album_id]), include_blank: 'Select Album', class: 'form-control' %>
      </div>
      <div class="col-lg-6 col-md-6">
        <%= label_tag 'Artist' %>
        <%= select_tag :artist_id, options_from_collection_for_select(@artists, 'id', 'name', params[:artist_id]), include_blank: 'select artist', class: 'form-control' %>
      </div>
      <div class="col-lg-6 col-md-6">
        <%= label_tag 'Category' %>
        <%= select_tag :category_id, options_from_collection_for_select(@categories, 'id', 'name', params[:category_id]), include_blank: 'select category', class: 'form-control' %>
      </div>
      <div class="col-md-6 col-lg-6">
        <br>
        <%= submit_tag 'Filter', class: 'form-control btn btn-success' %>
      </div>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:album_id) %></th>
    <th><%= model_class.human_attribute_name(:filename) %></th>
    <th><%= model_class.human_attribute_name(:asset) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.id, backend_song_path(song) %></td>
        <td><%= song.name %></td>
        <td><%= song.album_title %></td>
        <td><%= song.filename %></td>
        <td><%= song.asset %></td>
        <td><%= song.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_backend_song_path(song), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      backend_song_path(song),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_backend_song_path,
            :class => 'btn btn-primary' %>
