<ul class="nav admin">
  <div class="col-sm-12">
    <img src="<%= current_user.avatar.url %>" alt="" style="border-radius: 14px;" class="">
  </div>
  <div class="clearfix"></div>
  <h4>Welcome <%= current_user.full_name %>&nbsp;(<%= link_to 'Sign Out', '/users/sign_out', method: :delete %>)</h4>

  <div class="clearfix"></div>
  <li>
    <ul class="nav">
      <li>
        <a href="/backend/users">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
          Manage User</a>
      </li>
    </ul>
  </li>
  <li>
    <ul class="nav">
      <li>
        <a href="/backend/artists">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
          Manage Artist</a>
      </li>
    </ul>
  </li>
  <ul class="nav">
    <li>
      <a href="/backend/songs">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
        Manage Songs & Tracks</a>
    </li>
  </ul>
  <ul class="nav">
    <li>
      <a href="<%= backend_albums_path %>">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
        Manage Albums</a>
    </li>
  </ul>
  <ul class="nav">
    <li>
      <a href="/backend/play_lists">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
        Manage User Playlist</a>
    </li>
    <li>
      <a href="/backend/play_lists?system=true">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
        Manage System Playlist</a>
    </li>
  </ul>
  <li>
    <ul class="nav">
      <li>
        <a href="<%= backend_categories_path %>">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
          Manage Genres</a>
      </li>
    </ul>
  </li>
  <li>
    <ul class="nav">
      <li>
        <a href="<%= backend_languages_path %>">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
          Manage Languages</a>
      </li>
    </ul>
  </li>
  <li>
    <ul class="nav">
      <li>
        <a href="<%= backend_advertisements_path %>">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
          Manage Advertisements</a>
      </li>
    </ul>
  </li>
</ul>