<!DOCTYPE html>
<html ng-app="MusicApp">
<head>
  <base href="/home">
  <title>Music</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<header class="header container-fluid">
  <div class="col-md-2 bg_9ECB3B logo">
    <a ng-href="/">
      <img src="assets/images/logo.png" alt="GAN BAJ" id="logo"/>
    </a>
  </div>
  <div class="col-md-8 bg_FEFFFF user">
    <div class="col-sm-6 search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Library">
						<span class="input-group-btn">
							<button class="btn" type="button"><i class="fa fa-search color_9ECB3B"></i></button>
						</span>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2 avater">
      <% if current_user %>
          <img src="<%= current_user.avatar_url %>" alt="<%= current_user.full_name %>"/>
          <h4><%= current_user.email %></h4>
          <p><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></p>
      <% end %>
      <% if current_user %>
          <h4><%= current_user.full_name %></h4>
      <% else %>
          <a type="button" data-toggle="modal" data-target="#login-modal" id="open-modal">Login</a>
      <% end %>
    </div>
  </div>
  <div class="col-md-2 bg_FFC50C playlist textCenterAlign">
    <h4><i class="fa fa-random"></i>PLAYLIST</h4>
  </div>
</header>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view></div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
<section class="player1 bg_1B1D25 container-fluid color_FEFFFF">


  <div class="example">

    <div class="p_player">
      <div class="p_title"></div>
      <div class="p_artist"></div>
      <div class="p_cover"></div>
      <div class="p_controls">
        <div class="p_play"></div>
        <div class="p_pause"></div>
        <div class="p_rew"></div>
        <div class="p_fwd"></div>
      </div>
      <div class="p_volume"></div>
      <div class="p_tracker"></div>
    </div>
    <ul class="p_playlist hidden">
      <!--<li audiourl="http://p1.allmp3song.com/files/sfd73/36175/04%20-%20Tinko%20Ke%20Sahare(AllMp3Song.com).mp3" cover="a1.jpg" artist="Artist 1">01.mp3</li>-->
      <!--<li audiourl="http://p1.allmp3song.com/files/sfd73/36175/04%20-%20Tinko%20Ke%20Sahare(AllMp3Song.com).mp3" cover="cover2.jpg" artist="Artist 2">02.mp3</li>-->
      <li audiourl="03.mp3" cover="cover3.jpg" artist="Artist 3">03.mp3</li>
      <li audiourl="04.mp3" cover="cover4.jpg" artist="Artist 4">04.mp3</li>
      <li audiourl="05.mp3" cover="cover5.jpg" artist="Artist 5">05.mp3</li>
      <li audiourl="06.mp3" cover="cover6.jpg" artist="Artist 6">06.mp3</li>
      <li audiourl="07.mp3" cover="cover7.jpg" artist="Artist 7">07.mp3</li>
    </ul>


  </div>
</section>

<%= render 'layouts/login_modal' %>
<%= render 'layouts/user_playlist_modal' %>

<footer class="footer">
  <div class="footer_area">
    <div class="footer_area-copyright"></div>
    <div class="footer_area-socialmedia"></div>
  </div>
</footer>

</body>
</html>

<script type="text/javascript" charset="utf-8">
  window.current_user = <%= raw current_user.to_json %>
</script>