<!DOCTYPE html>
<html ng-app="MusicApp">
<head>
  <base href="/home">
  <title>Music</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header container-fluid">
  <div class="col-md-2 bg_9ECB3B logo">
    <img src="assets/images/logo.png" alt="GAN BAJ"/>
  </div>
  <div class="col-md-8 bg_FEFFFF user">
    <div class="col-sm-6 search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Library">
						<span class="input-group-btn">
							<button class="btn" type="button"><i class="fa fa-search color_9ECB3B"></i></button>
						</span>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2 avater">
      <% if current_user %>
          <img src="<%= current_user.avatar_url %>" alt="<%= current_user.full_name %>"/>
          <% end %>
      <% if current_user %>
          <h4><%= current_user.full_name %></h4>
      <% else %>
          <a type="button" data-toggle="modal" data-target="#login-modal" id="open-modal">Login</a>
      <% end %>
    </div>
  </div>
  <div class="col-md-2 bg_FFC50C playlist textCenterAlign">
    <h4><i class="fa fa-random"></i>PLAYLIST</h4>
  </div>
</header>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view></div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
<section class="player bg_1B1D25 container-fluid color_FEFFFF">
  <div class="col-md-2 plaing">
    <img src="assets/images/dark.png" alt=""/>
    <h4>DARK HORSE <span>Prism - Katy Perry</span></h4>
  </div>
  <div class="col-md-8 playBar">
    <div class="col-md-2 playBarStart">
      <i class="fa fa-step-backward"></i>
      <i class="fa fa-pause"></i>
      <i class="fa fa-step-forward"></i>
      2:26
    </div>
    <div class="progress col-md-8">
      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% Complete (success)</span>
      </div>
    </div>
    <div class="col-md-2 playBarEnd">
      5:32
      <i class="fa fa-repeat"></i>
      <i class="fa fa-random"></i>
    </div>
  </div>
  <div class="col-md-2 volume">
    <div class="volumeControl  col-md-2">
      <i class="fa fa-volume-up"></i>
    </div>
    <div class="progress col-md-8">
      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% Complete (success)</span>
      </div>
    </div>
  </div>
</section>




<!-- Modal -->
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img src="assets/images/logo.png" alt="">
      </div>
      <div class="modal-body">
        <%= form_tag user_session_path, role: 'form' do %>
            <div class="form-group">
              <%= label_tag 'Email' %>
              <%= text_field_tag 'user[email]', '', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag 'Password' %>
              <%= password_field_tag 'user[password]', '', class: 'form-control' %>
            </div>
            <%= submit_tag 'Sign in', class: 'btn btn-success' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<footer class="footer">
  <div class="footer_area">
    <div class="footer_area-copyright"></div>
    <div class="footer_area-socialmedia"></div>
  </div>
</footer>



</body>
</html>
