<!DOCTYPE html>
<html ng-app="MusicApp">
<head>
  <base href="/home">
  <title>Music</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<header class="header container-fluid">
  <div class="col-md-2 bg_9ECB3B logo">
    <a ng-href="/">
      <img src="assets/images/logo.png" alt="GAN BAJ" id="logo"/>
    </a>
  </div>
  <div class="col-md-8 bg_FEFFFF user">
    <div class="col-sm-6 search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Library">
						<span class="input-group-btn">
							<button class="btn" type="button"><i class="fa fa-search color_9ECB3B"></i></button>
						</span>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
      <% if current_user %>
          <div class="col-sm-4">
          <img src="<%= current_user.avatar_url || asset_path('images/default-pp') %>" alt="<%= current_user.full_name %>" class="logo-center"/>
          </div>
          <div class="col-sm-8" style="padding-top: 10px">
            <% if current_user.full_name.present? %>
                <h4><%= link_to current_user.full_name, profile_user_path(current_user), target: "_self"  %></h4>
            <% else %>
                <h4><%= link_to current_user.email, profile_user_path(current_user), target: "_self"  %></h4>
                <% end %>
            <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
          </div>
          <div class="clearfix"></div>
      <% else %>
          <a type="button" data-toggle="modal" data-target="#login-modal" id="open-modal" class="btn btn-transparent-green col-sm-offset-2">Login</a>
          <a type="button" data-toggle="modal" data-target="#registration-modal" class="btn btn-transparent-green" target="_self">Registration</a>
      <% end %>
    </div>
  </div>
  <div class="col-md-2 bg_FFC50C playlist textCenterAlign">
    <h4><i class="fa fa-random"></i>PLAYLIST</h4>
  </div>
</header>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<section class="slider container-fluid">
  <div class="col-md-2 menu">
    <div class="col-md-12 bg_EAEAEA menuArea">
      <ul class="menuUl1st col-md-12">
        <% @left_side_play_list.each do |p| %>
            <li><a class="color_000000 play-album" href="/play_lists/<%= p.id %>" data-type="playlist" data-album-id="<%= p.id %>"><i class="fa fa-signal color_9ECB3B"></i><%= p.name %></a></li>
        <% end %>
       </ul>
    </div>
    <% Advertisement.for_left_side.each do |advertisement| %>
        <style>
            <%= raw (advertisement.custom_css) %>
        </style>
        <%= raw (advertisement.content) %>
    <% end %>
  </div>
<div ng-view></div>
  <div class="col-md-2 playlistItem">
    <div class="col-md-12 bg_EAEAEA song padding20">
      <ul>
        <% if @playlists %>
            <% @playlists.each do |p| %>
                <li><a href="/play_lists/<%= p.id %>" data-album-id="<%= p.id %>" data-type="playlist" class="play-album"><img src="<%= p.cover_url.present? ? p.cover_url : 'assets/images/anthony.png' %>" alt="" /><div><i class="fa fa-volume-up"></i></div><%= p.name %></a></li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <% Advertisement.for_right_side.each do |advertisement| %>
        <style>
            <%= raw (advertisement.custom_css) %>
        </style>
        <%= raw (advertisement.content) %>
    <% end %>
  </div>
</section>





<%= render 'layouts/login_modal' %>
<%= render 'layouts/registration_modal' %>
<%= render 'layouts/user_playlist_modal' %>

<%= render 'layouts/player' %>

<!--<footer class="footer">-->
  <!--<div class="footer_area">-->
    <!--<div class="footer_area-copyright"></div>-->
    <!--<div class="footer_area-socialmedia"></div>-->
  <!--</div>-->
<!--</footer>-->

</body>
</html>

<script type="text/javascript" charset="utf-8">
  window.current_user = <%= raw current_user.to_json %>
</script>